.newsFilter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__toggleFilter{
        display: flex;
        gap: 20px;
        &__link{
            font-size: 17.6px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.8px;
            color: #8C8D91;
        }
        &__selectedLink{
            font-size: 17.6px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.8px;
            color: #E4871B;
        }
    }
}

@media (min-width: 800px){
    .newsFilter{
       select{
            border: none;
            background-color: transparent;
            margin-left: 11px;
            font-size: 17.6px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.8px;
       }
    }
}