.sidenavbar{
    background-color: #242D38;
    &__mobile{
        padding: 14px 20px 14px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__menu{
            display: flex;
            gap: 21px;
            &__dot{
                width: 18px;
                height: 18px;
                background-color: #DDDEDF;
                border-radius: 50%;
            }
        }
    }
}

@media (min-width: 800px) {
    .sidenavbar{
        min-height: 100vh;
        min-width: 255px;
        text-align: center;
        &__desktoplogo{
            margin-top: 100px;
            margin: 47px 0 101px 0;
        }
        &__content ul{
            padding:0 46px;
        }
        &__content ul li{
            height: 10px;
            background-color: white;
            margin-bottom: 40px;
        }
    }
}