.dots{
    position: relative;
    &__popUp{
        z-index: 10;
        width: max-content;
        position: absolute;
        background-color: white;
        top: 30px;
        min-width: 00px;
        box-shadow: 0px 1px 5px black;
        &__content{
            ul{
                padding: 19px 16px;
                cursor: pointer;
                li{
                    margin-bottom: 18px;
                    display: flex;
                    align-items: center;
                    p{
                        margin-left: 8px;
                    }
                }
                li:last-of-type{
                    margin-bottom: 0;
                }
            }
            &__hide{
                &__header{
                    display: flex;
                    align-items: center;
                    background-color: #F0F0F1;
                    padding: 19px 16px;
                    p{
                        margin-left: 8px;
                    }
                    svg{
                        cursor: pointer;
                    }
                }
                &__button{
                    text-align: center;
                    padding: 0 20px 24px 20px;
                    button{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}