.layout{
    background-color: var(--grayscale-grey-ececf-1, #ECECF1);;
}


@media (min-width: 800px) {
    .layout{
        display: flex;
        &__content{
            width: 100%;
        }
    }
}